.form-control {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    background-color: gray;
    margin: 0 auto;
}
.login {
    margin-bottom: 10px;
    width: 90%;
    max-width: 330px;
    padding: 15px;
    background-color: red;
    border-radius: 10px;
}
.senha {
    margin-bottom: 10px;
    width: 90%;
    max-width: 330px;
    padding: 15px;
    background-color: blue;
    border-radius: 10px;
}
.botao {
    margin-bottom: 10px;
    width: 90%;
    max-width: 330px;
    padding: 15px;
    background-color: rgb(126, 153, 118);
    border-radius: 10px;
}
.botao button {
    padding: 15px;
    background-color: rgb(7, 126, 182);
    border-radius: 10px;
}